.nav-title {
    height: inherit;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 10px;
    float: left;
}
h1 {
    font-family: "Comfortaa", 'Segoe UI', sans-serif;
    color: rgb(241, 240, 255);
}

header {
    background-color: rgb(117, 144, 223);
    width: 100%;
    height: 60px;
}
nav {
    height: 100%;
}

nav ul {
    height: 100%;
    list-style: none;
    float: right;
    margin: 0 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
#btn-menu, #check {
    display: none;
}
#btn-menu a {
    text-align: center;
}

.search form {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-right: 20px;
}
.search input[type=text] {
    background-color: rgba(255,255,255,0.7);
}
.lupa {
    margin-left: 5px;
    width: 20px;
}

nav a {
    display: block;
    padding : 5px 16px;
    text-decoration: none;
    color: whitesmoke;
}
#menu li {
    float: left;
    padding: 0;
}
li:not(.not-menu) {
    border: solid rgb(192, 191, 231) 1px;
    border-radius: 5px;
    padding : 0;
    margin: 0 10px;
}
#menu li:hover:not(.not-menu) {
    border: solid rgb(220, 219, 233) 1px;
}
#menu a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        display: block;
        padding-bottom: 10px;
        height: 100%;
    }
    .nav-title h1 {
        margin: 15px auto;
    }
    .nav-title, nav, #menu, #btn-menu {
        float: none;
    }
    nav #menu {
        display: none;
    }
    nav #btn-menu{
        display: list-item;
    }
    nav li {
        text-align: center;
        float: none;
    }
    nav li:not(.search) {
        text-align: center;
        border-radius: 0;
    }

    #check:checked ~ #menu {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        margin-top: 10px;
    }
}