@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans:300,400');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');
/*@import "navbar.css";*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section {
    padding: 30px 5%;
}

h2 {
    font-family: "Open Sans", "Segoe UI", sans-serif;
    font-weight: 300;
    margin: 20px;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.txt-center {
    text-align: center;
}
.div-center {
    margin: 0 auto;
}
.box-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

/* BEGIN BOXES */
.flexbox {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.flex-col {
    background-color: #eae8ff;
    margin: 5px;
    padding: 15px;
    flex-basis: 100%;
    height: 100%;
}
.flexbox a {
    flex-basis: 100%;
}

@media (max-width: 900px) {
    .flexbox {
        display: block;
    }
}
/* END BOXES */


/* BEGIN TABLES */
.tbl {
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    border: 1px solid #ccc;
}
.tbl td{
    border: 0 solid #ccc;
    border-top-width:1px;
    border-bottom-width:1px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
}
.tbl thead td, .tbl tfoot td {
    font-weight: bold;
    padding:10px 5px;
    border: 0 solid #bbb;
    overflow:hidden;
    word-break:normal;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color:#ccc;
    color:#333;
    background-color:rgb(173, 206, 255);
}
.tbl tr {
    vertical-align:top;
}
.tbl tr:nth-child(odd) {
    background: #f1f1f1;
}
.tbl tr:nth-child(even) {
    background: #fafafa;
}

.tbl tr:hover {
    background-color: rgb(216, 216, 216);
}
.tbl tr[onclick]:hover {
    cursor: pointer;
}


.display tr[onclick] {
    cursor: pointer;
}



/* END TABLES */

/* ALERTS*/
.alert {
    padding: 10px 20px;
    color: white;
    margin-bottom: 15px;
}

.warning {
    background-color: #f44336;
}
.success {
    background-color: #57e53d;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}